version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.4.1
    steps:
      - checkout
      - run: echo "CircleCI Build in subfeature branch"
workflows:
  version: 2
  build-workflow:
    jobs:
      - build:
          filters:
            branches:
              ignore: feature
